<script type='text/javascript'>
 $(function() {
   Dashing.widget_base_dimensions = [128, 192]
   Dashing.numColumns = 8
   });
 </script>
 </script>
<% content_for :title do %>Welcome to McChord Squadron<% end %>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="8" data-sizey="4">
  <div data-id="image" data-view="Image" data-title="welcome" data-image="/welcome-1024x768.jpg"></div>
</li>
</ul>
</div>
